{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5" height="100px">
    <h2 class="text-warning mb-5 border-bottom">Services</h2>
    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa fa-search fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h5>SEO</h5>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing
                 elit. Ratione odio dicta sunt optio alias eum vel
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-code fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h5>Web Development</h5>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing
                 elit. Ratione odio dicta sunt optio alias eum vel
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-palette fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h5>Web Design</h5>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing
                 elit. Ratione odio dicta sunt optio alias eum vel
            </p>
        </div>
    </div>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fab fa-android fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h5>Android</h5>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing
                 elit. Ratione odio dicta sunt optio alias eum vel
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fab fa-apple fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h5>Apple</h5>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing
                 elit. Ratione odio dicta sunt optio alias eum vel
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-ad fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h5>Advertising</h5>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing
                 elit. Ratione odio dicta sunt optio alias eum vel
            </p>
        </div>
    </div>

    <div class="row text-white text-center mb-5">
        <div class="col-sm-4">
            <i class="fa fa-pencil-alt fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h5>Logo Design</h5>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing
                 elit. Ratione odio dicta sunt optio alias eum vel
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-database fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h5>Hosting</h5>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing
                 elit. Ratione odio dicta sunt optio alias eum vel
            </p>
        </div>
        <div class="col-sm-4">
            <i class="fa fa-headset fa-2x mb-3 i-color" aria-hidden="true"></i>
            <h5>Support</h5>
            <p class="ss-color">Lorem ipsum, dolor sit amet consectetur adipisicing
                 elit. Ratione odio dicta sunt optio alias eum vel
            </p>
        </div>
    </div>
</div>
{% endblock content %}